<a href="https://colab.research.google.com/github/AbhishekKaushikCV/Self_Study/blob/main/Practice_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!python --version

Python 3.7.12

### Function

In [ ]:
def quicksort(arr):
  if len(arr) <=1 :
    return arr
  pivot = arr[len(arr) // 2]
  left = [x for x in arr if x < pivot]
  middle =  [x for x in arr if x == pivot]
  right = [x for x in arr if x > pivot]
  return quicksort(left) + middle  + quicksort(right)

print (quicksort([1,3,2,5,7,8,9,95,49]))

[1, 2, 3, 5, 7, 8, 9, 49, 95]

In [ ]:
### input()

In [ ]:
inp = input("Enter the europe floor:")
val = int(inp)
usf = val+1
print("US floor is:",usf)

Enter the europe floor:5
US floor is: 6

### Conditional steps

In [ ]:
x=5
if x<5:
  print("Lower than 5")
if x>4:
  print("Greater than 4")

Greater than 4

In [ ]:
# Comparison operators
x=5
if x==5:
  print("Equal to 5")
if x<6:
  print("Less than 6")
if x>=5:
  print("Greater than or equal to 5")
if x!=6:
  print("Not equal to 6")

Equal to 5
Less than 6
Greater than or equal to 5
Not equal to 6

In [ ]:
# Nested Decisions
x=42
if x>1:
  print("Greater than 1")
  if x<100:
    print("Smaller than  100")

Greater than 1
Smaller than  100

In [ ]:
# Two way decisions with else
x=42
if x<40:
  print("Less than 40")
else:
  print("Greater than 40")

Greater than 40

In [ ]:
# Multi way
x = 2
if x<2:
  print("Smaller")
elif x==2:
  print("Equal")
else x>2:
  print("Greater ")

Equal to 2

In [ ]:
# No else: no output
x=15
if x<5:
  print("Smaller")
elif x<10:
  print("Larger than 5")

In [ ]:
# Try and Except
astr='Hello Bob'
istr=int(astr)
print(astr)

ValueError: ignored

In [ ]:
astr='Hello Bob'
try:
  istr=int(astr)
except:
  print("Error")
  istr=-1
print("First",istr)

Error
First -1

In [ ]:
astr='123'
try:
  istr=int(astr)
except:
  print("Error")
  istr=-1
print("Second",istr)

Second 123

In [ ]:
rawstr=input("Enter a number")
try:
  val= int(rawstr)
  print("The number is:",val)
except:
  print("ERROR: Enter a number")

Enter a number42
The number is: 42

Numbers

In [ ]:
x = 3
print(x,type(x))

3 <class 'int'>

In [ ]:
print(x+1)
print(x-1)
print(x*2)
print(x**2)

4
2
6
9

In [ ]:
y = 2.5
print(y,type(y))
print(y+1,y-1,y*2,y**2)

2.5 <class 'float'>
3.5 1.5 5.0 6.25

Booleans

In [ ]:
t,f = True,False
print(t,f,type(t))

True False <class 'bool'>

In [ ]:
print(t and f)# logical and 
print(t or f)# logical or
print(not t)# logical not

False
True
False

### Strings:

In [31]:
# Looking inside string
fruit='banana'
letter1 = fruit[1]
print("First letter in string:",letter1)

x=3
letter2 = fruit[x-1]
print("Second letter in string:",letter2)

First letter in string: a
Second letter in string: n

In [32]:
# Looping through a string
fruit = 'banana'
index=0

while index<len(fruit):
  letter = fruit[index]
  print(index,letter)
  index=index+1

print("Done!!!")

0 b
1 a
2 n
3 a
4 n
5 a
Done!!!

In [33]:
# Using for loop
fruit = 'banana'
for letter in fruit:
  print(letter)

b
a
n
a
n
a

In [38]:
# Looping and counting
fruit ='banana'
count = 0

print("Before the loop:",count)
for letter in fruit:
   if letter == 'a':
     count = count+1
print("After the loop:",count)

print("Done!!!")

Before the loop: 0
After the loop: 3
Done!!!

In [39]:
# 'in' operator
for letter in 'banana':
  print(letter)

b
a
n
a
n
a

In [76]:
int(98.6)

98

In [52]:
# String slicing
s = 'My Python'
print(s[0:4])

print(s[5:25]) # Upto last letter of the string

print(s[:4]) # From beginning

print(s[2:]) # Upto last

My P
thon
My P
 Python

In [58]:
# Using 'in' as a logical operator
fruit = 'banana'

print('a' in fruit)

print('nan' in fruit)

if 'a' in fruit:
  print('Found it !!!')

True
True
Found it !!!

In [43]:
# Length of a string

h = 'Hello'
w = "World"
print(h,type(h),len(h))

Hello <class 'str'> 5

In [44]:
# String Concatenation

hw = h+ " " +w 
print("The concatenated string is :",hw)

The concatenated string is : Hello World

In [ ]:
hw12 = '{} {} {}'.format(h, w, 21)  # string formatting ??
print(hw12)

hello world 21

In [69]:
# String library

s = 'The one lion'

lower = s.lower()
print(lower) # Create a copy of the string without changing the original one
print(s)
print(s.capitalize())
print(s.upper())

print(s.replace('o','oo'))

the one lion
The one lion
The one lion
THE ONE LION
The oone lioon

In [67]:
fruit = 'banana'
pos = fruit.find('ba')
print(pos)

pos = fruit.find('z') # There is no 'z' in the string
print(pos)

0
-1

In [73]:
# Stripping whitespace
st = '   Hello     Bob  '
print(st)
tr = st.strip()
print(tr)

   Hello     Bob
Hello     Bob

In [75]:
# Prefixes 
line = 'Please have a nice day'

print(line.startswith('Please'))
print(line.startswith('p'))

True
False

In [ ]:
# Parsing and extracting

Containers:- list,dictionaries,tuples,set

Lists

In [ ]:
l = [3,1,2,5.0]
print(l,l[3])
print(l[-1])

[3, 1, 2, 5.0] 5.0
5.0

In [ ]:
l[2] = 'k' #list can contain elements of different types
print(l)

[3, 1, 'k', 5.0]

In [ ]:
l.append('you') # add a new element to the end of the list
print(l)

[3, 1, 'k', 5.0, 'you']

In [ ]:
print(l.pop()) # remove the last element of the list and also return it
print(l)

5.0
[3, 1, 'k']

Slicing

In [ ]:
nums  = list(range(6))  # range is a built-in function that creates a list of integers
print(nums)  # Prints "[0, 1, 2, 3, 4,5]"
print(nums[2:4])  # Get a slice from index 2 to 4 (exclusive); prints "[2, 3]"
print(nums[2:]) # Get a slice from index 2 to the end; prints "[2, 3, 4]"
print(nums[:2]) # Get a slice from the start to index 2 (exclusive); prints "[0, 1]"
print(nums[:]) # Get a slice of the whole list; prints ["0, 1, 2, 3, 4]"
print(nums[:-1]) # Slice indices can be negative; prints ["0, 1, 2, 3]"
nums[3:5] = [9,16] # Assign a new sublist to a slice
print(nums)

[0, 1, 2, 3, 4, 5]
[2, 3]
[2, 3, 4, 5]
[0, 1]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4]
[0, 1, 2, 9, 16, 5]

### Loops: 
- have iteration variable that change each time through a loop
- Repeated steps
- Zero trip
- Infinite loop

In [ ]:
# While loop: Indefinite loop
n=5 # iteration variable
while n>0:
  print(n)
  n=n-1
print("After the loop:",n)

5
4
3
2
1
After the loop: 0

In [ ]:
animals = ['cat', 'dog', 'monkey','lion']
for animals in animals:
    print(animals)
else:
  print("List is completed")

cat
dog
monkey
lion
List is completed

In [ ]:
# For loop: definite loop
for i in [5,4,3,2,1]:
  print(i)
print("Done!!")

5
4
3
2
1
Done!!

In [ ]:
# Definite for loop with a string
friends=['John','Maya','Katya'] # Successuve values that in friends
for friend in friends:
  print("Happy New Year",friend)
print("Done")

Happy New Year John
Happy New Year Maya
Happy New Year Katya
Done

In [ ]:
# Finding the largest number
largest_so_far = -1
print("Before the loop:",largest_so_far)

for the_num in [5,9,84,65,78,3,4,8,9,1,545,69]:
  if the_num>largest_so_far:
    largest_so_far=the_num
  print(largest_so_far,the_num)

print("After the loop:",largest_so_far)
print("Done!!!")

Before the loop: -1
5 5
9 9
84 84
84 65
84 78
84 3
84 4
84 8
84 9
84 1
545 545
545 69
After the loop: 545
Done!!!

In [3]:
# Counting in a loop
count = 0
print("before loop:",count)
for i in [2,4,9,5,8,6,7,3,4]:
  count = count+1  # How many times this line execute
  print(count,i)
print("After loop:",count)
print("Done")

before loop: 0
1 2
2 4
3 9
4 5
5 8
6 6
7 7
8 3
9 4
After loop: 9
Done

In [4]:
# Summing in a loop
sum = 0
print("before loop:",sum)

for i in [2,4,9,5,8,6,7,3,4]:
  sum = sum+i  
  print(sum,i)

print("After loop:",sum)
print("Done")

before loop: 0
2 2
6 4
15 9
20 5
28 8
34 6
41 7
44 3
48 4
After loop: 48
Done

In [8]:
# Average in a loop
sum=0
count=0
print("before loop:",count,sum)

for value in [2,4,9,5,8,6,7,3,4]:
  count=count+1
  sum = sum+value  
  print(count,value,sum)

print("After loop:",count,sum,sum/count)

print("Done")

before loop: 0 0
1 2 2
2 4 6
3 9 15
4 5 20
5 8 28
6 6 34
7 7 41
8 3 44
9 4 48
After loop: 9 48 5.333333333333333
Done

In [12]:
# Filtering in a loop: use if in for loop for filtering values or choosing
print("before loop:")

for value in [2,4,9,5,8,6,7,3,4]:
  if value<5:
    print("Number less than 5:",value)
print("After the loop") 

print("Done!!!")

before loop:
Number less than 5: 2
Number less than 5: 4
Number less than 5: 3
Number less than 5: 4
After the loop
Done!!!

In [19]:
# Search using a boolean variable
found= False
print("Before loop:",found)
for value in [2,4,9,5,8,6,7,3,4]:
  if value == 3:
    found= True
  print(value,found)
print("After loop:",found)
print("Done!!!")

Before loop: False
2 False
4 False
9 False
5 False
8 False
6 False
7 False
3 True
4 True
After loop: True
Done!!!

In [26]:
# Finding the smallest value
smallest=None
print("Before the loop:",smallest)

for value in [2,4,9,5,8,0,6,7,3,4,1]: # 'is' operator similar to '==' but stronger than it
  if smallest is None:   # Way to capture the first value
    smallest = value
  elif value<smallest:
    smallest = value
  print(smallest,value)

print("After the loop:",smallest)
print("Done!!!")

Before the loop: None
2 2
2 4
2 9
2 5
2 8
0 0
0 6
0 7
0 3
0 4
0 1
After the loop: 0
Done!!!

# Nested Loops
animals = ["cat","dog","monkey","lion"]
color = ["black","white"]
for y in animals:
  for x in color:
   print(y,x)

In [ ]:
for x in range(10):
  print(x)
else:
  print("Finally Finished")

0
1
2
3
4
5
6
7
8
9
Finally Finished

IF ELSE

In [ ]:
a=33
b=10
if b>a :
  print("b is greater than a")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
# The elif keyword is pythons way of saying "if the previous conditions were not true, then try this condition".

a=10
b=10
if a>b:
  print("a is greater than b")
elif a == b:
    print("a is equal to b")
elif a<b:
  print("a is less than b")

a is equal to b

List Comprehension

In [ ]:
# Normal
nums = [0,1,2,3,4]
squares = []
for x in nums:
  squares.append(x**2)
print(squares)

[0, 1, 4, 9, 16]

In [ ]:
# List comprehension
nums = [0,1,2,3,4,5]
squares = [x**2 for x in nums]
print(squares)

[0, 1, 4, 9, 16, 25]

In [ ]:
# list comprehension can also contain conditions
nums = [0,1,2,3,4,5,6]
even_squares = [x**2 for x in nums if x % 2 == 0]
print(even_squares)

[0, 4, 16, 36]

Sets
An unordered collection of distinct elements

In [ ]:
animals = {"cat","dog","elephat"}
print("cat" in animals) # check if an element is in the set
print("lion" in animals)

True
False

In [ ]:
animals.add('lion') # add element in a set
print(animals)
print(len(animals))
animals.remove('lion') # remove element from the set
print(len(animals))

{'elephat', 'cat', 'dog', 'lion'}
4
3

### Functions:
- Stored (and reused) steps

In [ ]:
def thing():
  print("Hello Fun")

In [ ]:
thing()
print("Zip")
thing()

Hello Fun
Zip
Hello Fun

In [ ]:
big = max('Hello world')
print(big)
small = min('Hello world')
print(small)

w

In [ ]:
def greet(lang):
  if lang=='es':
    print("Hola")
  elif lang=='fr':
    print("Bonjour")
  else:
    print("Hello")

In [ ]:
greet('es')

Hola

In [ ]:
def greet(lang):
  if lang=='es':
    return 'Hola'
  elif lang=='fr':
    return 'Bonjour'
  else:
    return 'Hello'

In [ ]:
print(greet('es'),'Alexa')
print(greet('en'),'John')
print(greet('fr'),'Michael')

Hola Alexa
Hello John
Bonjour Michael

In [ ]:
# A calculator
def calculate():
  c=input("Enter the operation:")
  if c=='sum':
    a = int(input('Enter the number'))
    b = int(input('Enter the number'))
    return print("The sum is:",a+b)
  elif c=='subtract':
    a = int(input('Enter the number'))
    b = int(input('Enter the number'))
    return print("The subtraction is:",a-b)
  elif c=='multiply':
    a = int(input('Enter the number'))
    b = int(input('Enter the number'))
    return print("The multiplication is:",a*b)
  elif c=='divide':
    a = int(input('Enter the number'))
    b = int(input('Enter the number'))
    return print("The division is:",a/b)
  else:
    print("Invalid oopereation")

In [ ]:
calculate()

Enter the operation:jkljlj
Invalid oopereation

In [ ]:
def sign(x):
  if x<0 :
    print("negative")
  elif x>0:
    print("positive")
  else:
    print("zero")
for x in [-1,0,1]:
  print(sign(x))

# ?? why none in th output? i think there is not return statement, it is just printing the listed statement

negative
None
zero
None
positive
None

In [ ]:
def sign(x):
  if x>0:
    return "positive"
  elif x<0:
    return "negative"
  else:
    return "zero"
for x in [-1,-2,2,6,0,0]:
  print(sign(x))

negative
negative
positive
positive
zero
zero

In [ ]:
for y in range(-1,2):
  print(sign(y))

negative
zero
positive

In [ ]:
def my_function(*kids):            # *args if don't know the no. of arguments
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [ ]:
# default argument
def my_function(country = "Norway"): # Here norway is the difficult country
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()             # defualt value is used here
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [ ]:
# passing a list as an argument
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [ ]:
# Return Statement
def multiple_5(x):
  return 5*x
print(multiple_5(6))

30

CLASS

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)


class student:
  def __init__(self,name,fname):
    self.name = name
    self.fname = fname
    
s1 = student("mohan","radhemohan")

print(s1.name)
print(s1.fname)

John
36
mohan
radhemohan

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)
    print("My age is ", self.age)

p1 = Person("John", 36)
p1.myfunc()


class student:
  def __init__(self,name,fname):
    self.name = name
    self.fname = fname
    
  def myfathername(self):
    print("My father's name is " + self.fname)
    print("My name is " + self.name)
    
    
    
s1 = student("Shubham","Tayal")
s1.myfathername()

Hello my name is John
My age is  36
My father's name is Tayal
My name is Shubham

In [ ]:
class Greeter:

    # Constructor
    def __init__(self, name):
        self.name = name  # Create an instance variable

    # Instance method
    def greet(self, loud=False):
        if loud:
          print('HELLO, {}'.format(self.name.upper()))
        else:
          print('Hello, {}!'.format(self.name))

g = Greeter('Fred')  # Construct an instance of the Greeter class
g.greet()            # Call an instance method; prints "Hello, Fred"
g.greet(loud=True)   # Call an instance method; prints "HELLO, FRED!"

Hello, Fred!
HELLO, FRED