<a href="https://colab.research.google.com/github/AbhishekKaushikCV/Self_Study/blob/main/Practice_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!python --version

Python 3.7.10

Function

In [ ]:
def quicksort(arr):
  if len(arr) <=1 :
    return arr
  pivot = arr[len(arr) // 2]
  left = [x for x in arr if x < pivot]
  middle =  [x for x in arr if x == pivot]
  right = [x for x in arr if x > pivot]
  return quicksort(left) + middle  + quicksort(right)

print (quicksort([1,3,2,5,7,8,9,95,49]))

[1, 2, 3, 5, 7, 8, 9, 49, 95]

Numbers

In [ ]:
x = 3
print(x,type(x))

3 <class 'int'>

In [ ]:
print(x+1)
print(x-1)
print(x*2)
print(x**2)

4
2
6
9

In [ ]:
y = 2.5
print(y,type(y))
print(y+1,y-1,y*2,y**2)

2.5 <class 'float'>
3.5 1.5 5.0 6.25

Booleans

In [ ]:
t,f = True,False
print(t,f,type(t))

True False <class 'bool'>

In [ ]:
print(t and f)# logical and 
print(t or f)# logical or
print(not t)# logical not

False
True
False

Strings

In [ ]:
h = 'hello'
w = "world"
print(h,type(h),len(h))

hello <class 'str'> 5

In [ ]:
hw = h+ " " +w #string concatenation
print(hw,len(hw))

hello world 11

In [ ]:
hw12 = '{} {} {}'.format(h, w, 21)  # string formatting ??
print(hw12)

hello world 21

In [ ]:
s = 'the one lion'
print(s,s.capitalize())
print(s,s.upper())
print(s.replace('o','oo'))

the one lion The one lion
the one lion THE ONE LION
the oone lioon

Containers:- list,dictionaries,tuples,set

Lists

In [ ]:
l = [3,1,2,5.0]
print(l,l[3])
print(l[-1])

[3, 1, 2, 5.0] 5.0
5.0

In [ ]:
l[2] = 'k' #list can contain elements of different types
print(l)

[3, 1, 'k', 5.0]

In [ ]:
l.append('you') # add a new element to the end of the list
print(l)

[3, 1, 'k', 5.0, 'you']

In [ ]:
print(l.pop()) # remove the last element of the list and also return it
print(l)

5.0
[3, 1, 'k']

Slicing

In [ ]:
nums  = list(range(6))  # range is a built-in function that creates a list of integers
print(nums)  # Prints "[0, 1, 2, 3, 4,5]"
print(nums[2:4])  # Get a slice from index 2 to 4 (exclusive); prints "[2, 3]"
print(nums[2:]) # Get a slice from index 2 to the end; prints "[2, 3, 4]"
print(nums[:2]) # Get a slice from the start to index 2 (exclusive); prints "[0, 1]"
print(nums[:]) # Get a slice of the whole list; prints ["0, 1, 2, 3, 4]"
print(nums[:-1]) # Slice indices can be negative; prints ["0, 1, 2, 3]"
nums[3:5] = [9,16] # Assign a new sublist to a slice
print(nums)

[0, 1, 2, 3, 4, 5]
[2, 3]
[2, 3, 4, 5]
[0, 1]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4]
[0, 1, 2, 9, 16, 5]

Loops

In [ ]:
animals = ['cat', 'dog', 'monkey','lion']
for animals in animals:
    print(animals)
else:
  print("List is completed")

cat
dog
monkey
lion
List is completed

# Nested Loops
animals = ["cat","dog","monkey","lion"]
color = ["black","white"]
for y in animals:
  for x in color:
   print(y,x)

In [ ]:
for x in range(10):
  print(x)
else:
  print("Finally Finished")

0
1
2
3
4
5
6
7
8
9
Finally Finished

IF ELSE

In [ ]:
a=33
b=10
if b>a :
  print("b is greater than a")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
# The elif keyword is pythons way of saying "if the previous conditions were not true, then try this condition".

a=10
b=10
if a>b:
  print("a is greater than b")
elif a == b:
    print("a is equal to b")
elif a<b:
  print("a is less than b")

a is equal to b

List Comprehension

In [ ]:
# Normal
nums = [0,1,2,3,4]
squares = []
for x in nums:
  squares.append(x**2)
print(squares)

[0, 1, 4, 9, 16]

In [ ]:
# List comprehension
nums = [0,1,2,3,4,5]
squares = [x**2 for x in nums]
print(squares)

[0, 1, 4, 9, 16, 25]

In [ ]:
# list comprehension can also contain conditions
nums = [0,1,2,3,4,5,6]
even_squares = [x**2 for x in nums if x % 2 == 0]
print(even_squares)

[0, 4, 16, 36]

Sets
An unordered collection of distinct elements

In [ ]:
animals = {"cat","dog","elephat"}
print("cat" in animals) # check if an element is in the set
print("lion" in animals)

True
False

In [ ]:
animals.add('lion') # add element in a set
print(animals)
print(len(animals))
animals.remove('lion') # remove element from the set
print(len(animals))

{'elephat', 'cat', 'dog', 'lion'}
4
3

FUNCTIONS

In [ ]:
def sign(x):
  if x<0 :
    print("negative")
  elif x>0:
    print("positive")
  else:
    print("zero")
for x in [-1,0,1]:
  print(sign(x))

# ?? why none in th output? i think there is not return statement, it is just printing the listed statement

negative
None
zero
None
positive
None

In [ ]:
def sign(x):
  if x>0:
    return "positive"
  elif x<0:
    return "negative"
  else:
    return "zero"
for x in [-1,-2,2,6,0,0]:
  print(sign(x))

negative
negative
positive
positive
zero
zero

In [ ]:
for y in range(-1,2):
  print(sign(y))

negative
zero
positive

In [ ]:
def my_function(*kids):            # *args if don't know the no. of arguments
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [ ]:
# default argument
def my_function(country = "Norway"): # Here norway is the difficult country
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()             # defualt value is used here
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [ ]:
# passing a list as an argument
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [ ]:
# Return Statement
def multiple_5(x):
  return 5*x
print(multiple_5(6))

30

CLASS

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)


class student:
  def __init__(self,name,fname):
    self.name = name
    self.fname = fname
    
s1 = student("mohan","radhemohan")

print(s1.name)
print(s1.fname)

John
36
mohan
radhemohan

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)
    print("My age is ", self.age)

p1 = Person("John", 36)
p1.myfunc()


class student:
  def __init__(self,name,fname):
    self.name = name
    self.fname = fname
    
  def myfathername(self):
    print("My father's name is " + self.fname)
    print("My name is " + self.name)
    
    
    
s1 = student("Shubham","Tayal")
s1.myfathername()

Hello my name is John
My age is  36
My father's name is Tayal
My name is Shubham

In [ ]:
class Greeter:

    # Constructor
    def __init__(self, name):
        self.name = name  # Create an instance variable

    # Instance method
    def greet(self, loud=False):
        if loud:
          print('HELLO, {}'.format(self.name.upper()))
        else:
          print('Hello, {}!'.format(self.name))

g = Greeter('Fred')  # Construct an instance of the Greeter class
g.greet()            # Call an instance method; prints "Hello, Fred"
g.greet(loud=True)   # Call an instance method; prints "HELLO, FRED!"

Hello, Fred!
HELLO, FRED